############
#  For extra Github commands chek:
#  https://hub.github.com/
##################################

[include]
     path = .gitconfig.private

[core]
	autocrlf = input
	safecrlf = warn
	eol = native
#  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	excludesfile = /Users/ronaldopontes/.gitignore_global
	editor = atom --wait
	# Do not show vim style editor if log content fits in a page
	pager = less -F -X

[i18n]
  logoutputencoding  = utf8
  commitencoding = utf8

[apply]
  whitespace = fix

[branch "master"]
  remote = origin
  merge = refs/heads/master

[push]
  default = simple

[merge]
  log = true
	tool = diffmerge

[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"

[rerere]
  enabled = 1

[branch]t
	autosetuprebase  = always

[alias]

  a = add .
  unadd = reset HEAD
  b = branch -a
  bn = checkout -b
  bt = branch --track
  br = branch
  ck = checkout
  c =  !git add -A && git commit -m
  ca = !git add -A && git commit --amend -m
  cp = !git add -p && git commit -m
  co = commit -m
  ckm = checkout master
  clb = clone --bare
  cla = remote add
  d = diff --cached --word-diff
  f = fetch
  g = grep -I
  h =  log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --simplify-merges
  hs =  !git h --simplify-by-decoration
  l =  log --pretty=format:\"%h | %s%d [%an]\" --graph -7 --simplify-merges
  lc = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --stat --summary HEAD^..HEAD -F
  la = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --stat --summary
  hdiff = log -p --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ha = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
  histm = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short master --all
  ksdiff = difftool -y -t Kaleidoscope
  m = checkout master
  p = push origin master
  pub = push --set-upstream origin
  pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  repo = remote show origin
  r = reset
  rr = !git reset --hard && git clean -f -d && git submodule update -f --init
  resetToFactory = !git reset --hard && git clean -f -d -x
  rh = reset HEAD
  rv = revert HEAD --no-edit
  rb = rbranch
  rv = review
  type = cat-file -t
  track = checkout -t
  locate-message = show :/
  locate-hash = name-rev --name-only
  contains-hash = branch --contains
  dump = cat-file -p
  s = status -sb
  addgsc = remote add gsc git@gsc:

  # http://blogs.atlassian.com/2013/05/alternatives-to-git-submodule-git-subtree
  sta    = "!f() { git remote add -f $2 && git subtree add  --prefix $1 $2 master --squash; }; f"
  stpull = "!f() { git fetch $1 master  && git subtree pull --prefix $1 $1 master --squash; }; f"
  stpush = "!f() {                         git subtree push --prefix $1 $1 master --squash; }; f"


  # Other stuff...
  prepare = !git remote rename origin upstream && git branch merge-upstream && git branch dev && git checkout dev && git remote && git branch
  setup = !git branch --track merged bt/merged && git branch --track dev bt/dev
  rbdbreset = !rake db:drop db:create db:migrate db:seed
  hforce = push heroku rad:master
  hdevr = !git commit --allow-empty -m "empty commit" && git push heroku +dev:master && git reset head~
  hcar  = !git commit --allow-empty -m "empty commit" && git push heroku +merge-upstream:master && git reset head~

  # Docker
  dcd = !docker-compose down
  dck = !docker-compose kill
  dcu = !docker-compose up
  dp = !docker ps -a
  drma = !docker rm $(docker ps -a -q)
  drmia = !docker rmi $(docker images -q)

  subi = submodule update --init --recursive
  sub = pull --recurse-submodules

  # user
  confgsc = !git config user.name "gsc-dev" && git config user.email "dev@globalsphereconsulting.com"

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git@heroku.com:"]
  insteadOf = "heroku:"




[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
	tool = diffmerge
	renamelimit = 5000
	noprefix = true
[difftool "diffmerge"]
	cmd = /usr/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = /usr/bin/diffmerge --merge --result=\"$MERGED\"  \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[user]
	email = ronaldocpontes@gmail.com
	name = Ronaldo Pontes
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ronaldopontes/.stCommitMsg
